@import '../node_modules/bootstrap/scss/bootstrap';

$primary-color: white;
$secondary-color: #61dafb;
$sliderTrackHeight: 15px;
$sliderThumbSize: 25px;
$primaryTextColor: black;
$currentsMarkerColor: orange;
$tidesMarkerColor: cyan;
$markerLabelFontSize: 1.1rem;

* {
  box-sizing: border-box;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  height: 90vh;
  // flex-grow: 1;
}

header {
  display: flex;
  color: $primaryTextColor;
  background-color: $primary-color;
  // margin-top: auto;
  // margin-bottom: 0;
  z-index: 500;
}

header h1 {
  // font-size: 1.5rem;
}

.hamburger {
  background-color: red;
  position: absolute;
  top: 0;
  left: 50px;
  margin: 10px;
  z-index: 500;
}

@media (min-width: 574px) {
  .hamburger {
    background-color: green;
  }

  // .sidebar {
  //   padding: 10;
  // }
}

.sidebar {
  color: $primaryTextColor;
  // width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  // flex-basis: 20%;
  // flex-grow: 0;

  background-color: $primary-color;
  font-size: 1.3rem;
  padding: 40px;
  text-align: left;
}

// .card {
//   background-color: red;
//   max-width: 600px;
//   min-width: 44;
//   justify-content: center;
// }

// #map {
//   border: 1px solid black;
//   width: 90%;
//   height: 100vh;
// }

/* Note this is critical! Map doesn't appear or appears
wonky without it. */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.map-icon {
  // border: 1px solid black;
  width: 30px;
  height: 30px;
}

.kp-popup .leaflet-popup-content-wrapper {
  background-color: white;
}

p.kp-popup-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}
// .kp-popup
//   .leaflet-popup-content-wrapper
//   .leaflet-popup-content

.kp-popup-header {
  margin-bottom: 3px;
  font-size: 1.2rem;
}

.overlay {
  // top: 70%;
  // width: 100%;
  // height: 10%;
  background-color: rgba(92, 249, 249, 0.2);
  z-index: 500;
}

.sliderContainer {
  width: 90%;
  margin-top: 50px;
  height: 100px;
}

.MuiSlider-track {
  height: $sliderTrackHeight !important;
  color: $secondary-color !important;
}

.MuiSlider-rail {
  height: $sliderTrackHeight !important;
  color: $secondary-color !important;
}

.MuiSlider-mark {
  height: $sliderTrackHeight !important;
  color: $secondary-color !important;
}

.MuiSlider-thumb {
  height: $sliderThumbSize !important;
  width: $sliderThumbSize * 2 !important;
  color: white;
  border-radius: 5px !important;
  border: 1px solid black;
}

// date picker input
.MuiInputBase-input {
  font-size: x-large !important;
  font-weight: bold !important;
}

table {
  font-size: 1.1rem;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 0.3rem;
  font-size: 1.1rem;
}

tr:nth-child(even) {
  background-color: #efefef;
  // background-color: lightgray;
}

.poi-icon {
  // overflow: hidden;
  color: rgba(92, 249, 249, 0.612);
  width: 20;
  height: 20;
}

.currents-marker-container {
  // padding: 1px;
}

.currents-marker-container path {
  fill: $currentsMarkerColor;
  // stroke: currentsMarkerColor;
  // stroke-width: 1px;
  // stroke-dasharray: 2, 2;
  // stroke-linejoin: round;
}

.currents-marker-label {
  color: $currentsMarkerColor;
  font-weight: bold;
  font-size: $markerLabelFontSize;
  z-index: 300;
}

.stroke-text {
  // color: white;
  --stroke-color: black;
  --stroke-width: 1.5px;
  // color: rgb(255, 196, 0);
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.time-slider-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

// current marker container!
.marker-container {
  border: none;
  background-color: none;
}

.tide-marker-container img {
  background-color: rgba(92, 249, 249, 0.612);
  border: 2px solid black;
  width: 15px;
  height: 15px;
}

.tide-marker-label {
  font-weight: bold;
  font-size: $markerLabelFontSize;
  color: $tidesMarkerColor;
  text-align: center;
  z-index: 300;
}

.selected-marker {
  // need another way to hilight these
  // border: 2px solid black;
}

.selected-marker img {
  background-color: cyan;
  border: 5px solid black;
  width: 25px;
  height: 25px;
}

// .arrow-container {
//   width: 50px;
//   height: 50px;
// }

// svg * {
//   transform-box: fill-box;
// }

// ======= LOADING ANIMATION ======= //
.currents-marker-container.loader {
  color: orange;
}

.tide-marker-container.loader {
  color: black;
}

.loader {
  font-size: 25px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
