:root {
  --angle: -20deg;
}

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

#app {
  display: flex;
}

#sidebar {
  width: 20vw;
  height: 100vh;
  background-color: lavender;
}

#map-viewer {
  background-color: darkgray;
  width: 80vw;
  height: 100vh;
}

#map {
  border: 1px solid black;
  width: 90%;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

// temp to see how we can handle rotation etc
.map-marker {
  // width: 50px;
  transform: rotate(20deg);
  &:hover {
    // --angle: 10deg;
    transform: rotate(-10deg);
  }
}
