// :root {
//   --angle: -20deg;
// }

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

#app {
  display: flex;
}

#sidebar {
  width: 20vw;
  height: 100vh;
  background-color: lavender;
  font-size: 1.3rem;
  padding: 40px;
  text-align: justify;
}

// #map-viewer {
//   background-color: darkgray;
//   width: 80vw;
//   height: 100vh;
// }

// #map {
//   border: 1px solid black;
//   width: 90%;
//   height: 100vh;
// }

/* Note this is critical! Map doesn't appear or appears
wonky without it. */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

.map-icon {
  // border: 1px solid black;
  width: 30px;
  height: 30px;
}

.kp-popup .leaflet-popup-content-wrapper {
  background-color: white;
}

p.kp-popup-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}
// .kp-popup
//   .leaflet-popup-content-wrapper
//   .leaflet-popup-content

.kp-popup-header {
  margin-bottom: 3px;
  font-size: 1.2rem;
}

/* The svg and arrow styles are used to target the currents
markers which are svg images. The classes are specified in
the svg file(s). Not the jsx. Yeah it feels hacky, but it works.
*/
// #arrow {
//   transform: rotate(180deg);
//   transform: scale(1, 0.5);
//   fill: none;
// }

#arrow-fill {
  fill: rgb(255, 196, 0);
}

#arrow-border {
  // fill: black;
  stroke: black;
  stroke-width: 2;
}

.overlay {
  position: fixed;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: lavender;
  z-index: 500;
}

#slider-container {
  width: 100%;
  height: 100px;
}

table {
  font-size: 1.1rem;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 0.3rem;
  font-size: 1.1rem;
}

tr:nth-child(even) {
  background-color: #efefef;
  // background-color: lightgray;
}

.current-marker-label {
  font-weight: bold;
  font-size: 1.4rem;
}

.stroke-text {
  --stroke-color: black;
  --stroke-width: 2px;
  color: rgb(255, 196, 0);
  text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.time-slider-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.selected-marker #arrow-border {
  stroke-width: 7px;
}

// test!
.marker-container {
  border: 2px solid black;
  background-color: white;
}

.tide-marker-container img {
  background-color: rgba(92, 249, 249, 0.612);
  border: 2px solid black;
  width: 35px;
  height: 35px;
}

.selected-marker img {
  background-color: cyan;
  border: 5px solid black;
  width: 45px;
  height: 45px;
}

.tide-marker-label {
  font-weight: bold;
  font-size: 1.4rem;
  color: cyan;
  text-align: center;
}
